@model IEnumerable<MVC5Course.Models.ViewModels.ListProducts>

@{
    ViewBag.Title = "ListProducts";
}


@if (TempData["CreateProduct_Result"] != null)
{
    <h2>
        @TempData["CreateProduct_Result"]
    </h2>
}
<form  method="get">
    <h2>ProductList</h2>

    搜尋 @Html.TextBox("q")
    <button>search</button>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        
    </tr>
}

</table>
